<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lunz.training.mapper.UserMapper">

    <!---新建用户 -->
    <insert id="addUser">
        insert into tb_user (Username, Password, Gender, Nickname, CreatedAt, UpdatedAt, Deleted)
        values  (#{user.username}, #{user.password}, #{user.gender}, #{user.nickname}, now(), now(), 0)
    </insert>

    <update id="updateById">
        update tb_user
        <set>
            <if test="user.username != null and user.username != ''">Username = #{user.username},</if>
            <if test="user.password != null and user.password != ''">Password = #{user.password},</if>
            <if test="user.gender != null and user.gender != ''">Gender = #{user.gender},</if>
            <if test="user.nickname != null and user.nickname != ''">Nickname = #{user.nickname},</if>
            UpdatedAt=now()
        </set>
        where id=#{user.id}
    </update>

    <update id="delete">
        update tb_user set deleted=1,DeletedAt=now() where id=#{user.id}
    </update>
</mapper>


